#
# To run analyse:
# bin/phpstan analyse --memory-limit=-1
#
# or (replacing conf level by 1, … up to 8):
# bin/phpstan analyse -l 1 --memory-limit=-1

parameters:
  level: 8

  scanFiles:
    - _common.php

  paths:
    - common
    - dblayer
    - dbschema
    - diff
    - ext
    - filemanager
    - html.filter
    - html.validator
    - image
    - mail
    - mail.convert
    - mail.mime
    - net
    - net.http
    - net.http.feed
    - net.xmlrpc
    - pager
    - rest
    - session.db
    - template
    - text.wiki2xhtml
    - url.handler
    - xmlsql
    - zip

  reportUnmatchedIgnoredErrors: false

# Notes:
#
# Use /* @phpstan-ignore-next-line */ or // @phpstan-ignore-line
# to ignore some specific lines in code
